<div class="container mat-elevation-z3">
  <div class="mt-3 d-flex justify-content-center">
    <mat-form-field class="col-3">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search...">
    </mat-form-field>
  </div>

  <div>
    <mat-table [dataSource]="dataSource" matSort matSortStart="asc">

      <ng-container matColumnDef="customer_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Customer ID</mat-header-cell>
        <mat-cell *matCellDef="let orders"> {{orders.customer_id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Phone</mat-header-cell>
        <mat-cell *matCellDef="let orders"> {{orders.phone_number}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Product</mat-header-cell>
        <mat-cell *matCellDef="let orders"> {{orders.product}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
        <mat-cell *matCellDef="let orders"> {{orders.price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
        <mat-cell *matCellDef="let orders">

          <button mat-flat-button (click)="verify(orders.customer_id)" color="primary" matTooltip="Verify This Order">
            Verify
            <mat-icon>done</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="3" [pageSizeOptions]="[3, 5, 10, 15]">
    </mat-paginator>
  </div>
</div>
