<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3">
      <mat-card>
        <mat-card-header>
        </mat-card-header>
        <img mat-card-image src="./assets/potatoes.jpg">
        <mat-card-title>Cheap Price</mat-card-title>
        <mat-card-content>
          <p>
            You can find products at the cheapest price with the S A V A T!
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3">
      <mat-card>
        <mat-card-header>
        </mat-card-header>
        <img mat-card-image src="./assets/drinks.jpg">
        <mat-card-title>Fresh</mat-card-title>
        <mat-card-content>
          <p>
            You can find in S A V A T a lot of choices
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3">
      <mat-card>
        <mat-card-header>
        </mat-card-header>
        <img mat-card-image src="./assets/tomatoes.jpg">
        <mat-card-title>High Quality</mat-card-title>
        <mat-card-content>
          <p>
            You can believe us, we give 100% guaranty for our products!
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3">
      <mat-card>
        <mat-card-header>
        </mat-card-header>
        <img mat-card-image src="./assets/vegetables.jpg">
        <mat-card-title>Rich in Choice</mat-card-title>
        <mat-card-content>
          <p>
            In the S A V A T you can find every product which has Uzbekistan!
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <button class="m-b col-lg-3" routerLink="products"
            mat-raised-button color="primary">Check our Products</button>

  </div>

</div>
